---
layout: base.njk
eleventyExcludeFromCollections: true
---

<main class="c-page t-flex--fill t-flex__container">
  <div class="c-home t-flex--fill">
    <p class="c-home__highlight">Software developer focussed on <strong>user-centred design</strong>, <strong>strong teams</strong> and <strong>simple solutions</strong>.</p>

    <p><strong>User-centered design</strong> ensures my work can be used by everybody, and meets their real-world needs.</p>

    <p>The <strong>strong teams</strong> I build collaborate effectively to bring the best out of each other.</p>

    <p>I prefer <strong>simple solutions</strong> rather than over-engineered ones, reducing the complexity, cost and environmental impact of my work.</p>
  </div>
</main>
