---
layout: base.njk
---

<main class="c-page t-flex--fill">
  <h1 class="c-page__title">{{ title }}</h1>

  <div class="c-page__meta">
    <div>
      Published on <time datetime="{{ date | dateISO }}">{{ date | date }}</time>
    </div>

    {% if tags and tags | length > 0 %}
      <ul class="o-linklist o-linklist--centered">
        {% for tag in tags %}
          <li>
            <a class="c-tag" href="/blog/category/{{ tag | toTagSlug }}">
              {{ tag }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  {% if isMigrated %}
    <aside class="c-page__migration-notice">
        <p>
          <strong>This post has been migrated</strong>
          and may contain invalid formatting, dead links or have missing content.
      </p>
    </aside>
  {% endif %}

  <div class="c-page__content">
    {{ content | safe }}
  </div>
</main>
