:root {
  --spacing: 1rem;
  --color-brand: #c82e14;
  --color-brand-dark: #a82e14;
  --color-brand-contrast: #fff;
  --color-subbrand: #fbbf13;
  --color-link: #3973b1;
  --color-link-visited: #7539b1;
  --color-page-background: #fff;
  --color-text: #555;
  --color-accent: #f5f5f5;
  --color-shadow: rgba(0 0 0/20%);
  --font-default: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif;
}

@media (min-width: 1000px) {
  :root {
    --spacing: 1.5rem;
  }
}

@media (min-width: 1500px) {
  :root {
    --spacing: 1.75rem;
  }
}

*,
:after,
:before {
  box-sizing: border-box;
}

a {
  color: #3973b1;
  color: var(--color-link);
  text-decoration-thickness: 1px;
  transition: text-decoration-thickness ease-out 0.1s;
}

a:hover {
  text-decoration-thickness: 3px;
}

a:visited {
  color: #7539b1;
  color: var(--color-link-visited);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif;
  font-family: var(--font-default);
  background-color: #c82e14;
  background-color: var(--color-brand);
  background-image: radial-gradient(
    at 7rem,
    at 3rem,
    var(--color-brand-dark) 5%,
    var(--color-brand) 30%,
    var(--color-brand) 70%,
    var(--color-subbrand)
  );
  background-image: radial-gradient(
    at 7rem 3rem,
    var(--color-brand-dark) 5%,
    var(--color-brand) 30%,
    var(--color-brand) 70%,
    var(--color-subbrand)
  );
  background-image: radial-gradient(
    at 7rem,
    at 3rem,
    var(--color-brand-dark) 5%,
    var(--color-brand) 30%,
    var(--color-brand) 70%,
    var(--color-subbrand)
  );
  background-image: radial-gradient(
    at 7rem 3rem,
    var(--color-brand-dark) 5%,
    var(--color-brand) 30%,
    var(--color-brand) 70%,
    var(--color-subbrand)
  );
  background-repeat: no-repeat;
  color: #555;
  color: var(--color-text);
  letter-spacing: -0.02em;
}

::-moz-selection {
  background-color: #c82e14;
  background-color: var(--color-brand);
  color: #fff;
  color: var(--color-brand-contrast);
}

::selection {
  background-color: #c82e14;
  background-color: var(--color-brand);
  color: #fff;
  color: var(--color-brand-contrast);
}

h1 {
  margin: 0;
}

hr {
  border-top: 1px solid #ccc;
  border-bottom: 0;
}

pre {
  overflow-x: auto;
}

.o-carousel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: stretch;
  grid-gap: 1rem;
  grid-gap: var(--spacing);
  grid-auto-rows: 1fr;
}

.o-linklist {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.o-linklist--vertical {
  flex-direction: column;
}

.o-linklist--horizontal {
  flex-direction: row;
}

.o-linklist--centered {
  justify-content: center;
}

.o-linklist__link {
  display: block;
  padding: 0.5rem;
  padding: calc(var(--spacing) * 0.5);
  color: inherit;
  text-decoration: none;
}

.o-linklist__link:visited {
  color: inherit;
}

.o-linklist__link:hover {
  text-decoration: underline;
}

.c-card {
  display: inline-flex;
  padding: 1rem;
  padding: var(--spacing);
  background-color: var(--color-page-background);
  flex-direction: column;
  box-shadow: 0 0 3px var(--color-shadow);
}

.c-card--link {
  color: #555;
  color: var(--color-text);
  text-decoration: none;
  transition: all 0.1s linear;
}

.c-card--link:visited {
  color: var(--color-text);
}

.c-card--link:hover {
  outline: 3px solid var(--color-brand);
  transform: scale(1.05);
}

.c-card__title {
  margin: 0;
  font-size: 1.2rem;
}

.c-card__meta {
  color: #777;
  font-size: 0.9rem;
}

.c-card__actions {
  text-align: right;
}

.c-card__action {
  margin-left: 1rem;
  margin-left: var(--spacing);
  font-size: 0.85rem;
  text-transform: uppercase;
}

.c-card__action:hover {
  text-decoration: underline;
}

.c-card__action--primary {
  color: #c82e14;
  color: var(--color-link);
}

.c-card:visited .c-card__action--primary {
  color: var(--color-link-visited);
}

.c-card:hover .c-card__action--primary {
  text-decoration: underline;
}

.c-footer {
  padding: 1rem;
  padding: var(--spacing);
  color: #fff;
  color: var(--color-brand-contrast);
  font-family: 1.5rem;
  text-align: center;
}

.c-footer__link, .c-footer__link:visited {
  color: inherit;
  font-size: 0.9rem;
}

.c-navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  padding: var(--spacing);
  color: #fff;
  color: var(--color-brand-contrast);
  align-items: center;
  justify-content: space-between;
}

.c-navbar__title-link {
  color: inherit;
  text-decoration: none;
}

.c-navbar__title-link:hover {
  text-decoration: underline;
}

.c-navbar__title-link:visited {
  color: inherit;
}

@media (min-width: 500px) {
  .c-navbar {
    flex-direction: row;
  }
}

.c-page {
  padding: 1rem;
  padding: var(--spacing);
  background-color: #fff;
  background-color: var(--color-page-background);
  color: #555;
  color: var(--color-text);
}

.c-page__title {
  margin-bottom: 1rem;
  margin-bottom: var(--spacing);
  text-align: center;
  font-size: 2rem;
  line-height: 1em;
}

.c-page__meta {
  margin-left: -1rem;
  margin-left: calc(var(--spacing) * -1);
  margin-right: -1rem;
  margin-right: calc(var(--spacing) * -1);
  padding-top: 0.5rem;
  padding-top: calc(var(--spacing) * 0.5);
  padding-bottom: 0.5rem;
  padding-bottom: calc(var(--spacing) * 0.5);
  text-align: center;
  background-color: #f5f5f5;
  background-color: var(--color-accent);
}

.c-page__migration-notice {
  text-align: center;
  border-bottom: 3px solid var(--color-accent);
}

.c-page__content {
  max-width: 40rem;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.4em;
}

@media (min-width: 1000px) {
  .c-page {
    padding: 2rem;
    padding: calc(var(--spacing) * 2);
  }
  .c-page__title {
    margin-bottom: 2rem;
    margin-bottom: calc(var(--spacing) * 2);
    font-size: 3rem;
  }
  .c-page__meta {
    margin-left: -2rem;
    margin-left: calc(var(--spacing) * -2);
    margin-right: -2rem;
    margin-right: calc(var(--spacing) * -2);
  }
  .c-page__content {
    font-size: 1.2rem;
    line-height: 1.5em;
  }
}

.c-home {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  color: var(--color-brand-contrast);
  font-size: 1.5rem;
  font-weight: 300;
}

.c-home__highlight {
  font-size: 2rem;
  text-align: center;
  letter-spacing: -0.03em;
}

.c-home__highlight + p {
  margin-top: calc(var(--spacing) * 2);
}

p + .c-home__highlight {
  margin-top: calc(var(--spacing) * 2);
}

.c-home strong {
  font-weight: 900;
}

.c-sunken {
  background-color: var(--color-accent);
  box-shadow: inset 0 0 20px -5px rgba(0 0 0/60%);
  padding: 1rem;
  padding: var(--spacing);
}

.c-sunken__title {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-bottom: var(--spacing);
}

.c-tag {
  margin: 0.2rem;
  margin: calc(var(--spacing) * 0.2);
  padding: 0.1rem 0.3rem;
  padding: calc(var(--spacing) * 0.1) calc(var(--spacing) * 0.3);
  background-color: #a82e14;
  background-color: var(--color-brand-dark);
  color: #fff;
  color: var(--color-brand-contrast);
  font-size: 0.85rem;
  text-decoration: none;
}

.c-tag:visited {
  color: #fff;
  color: var(--color-brand-contrast);
}

.c-tag:hover {
  background-color: var(--color-brand);
  text-decoration: underline;
}

.t-flex__container {
  display: flex;
  flex-direction: column;
}

.t-flex--fill {
  flex-grow: 1;
}

.hljs-comment,
.hljs-quote {
  color: #969896;
}

.hljs-deletion,
.hljs-name,
.hljs-regexp,
.hljs-selector-class,
.hljs-selector-id,
.hljs-tag,
.hljs-template-variable,
.hljs-variable {
  color: #c66;
}

.hljs-built_in,
.hljs-builtin-name,
.hljs-link,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-params,
.hljs-type {
  color: #de935f;
}

.hljs-attribute {
  color: #f0c674;
}

.hljs-addition,
.hljs-bullet,
.hljs-string,
.hljs-symbol {
  color: #b5bd68;
}

.hljs-section,
.hljs-title {
  color: #81a2be;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #b294bb;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #1d1f21;
  color: #c5c8c6;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: 700;
}

.wp-caption,
.c-figure {
  max-width: 100%;
  background-color: var(--color-accent);
  margin-top: 0;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }

  .alignleft,
  .alignright,
  .c-figure--left,
  .c-figure--right {
    max-width: 60%;
  }
  .alignleft,
  .c-figure--left {
    float: left;
    margin-left: -20%;
    margin-right: 1rem;
    margin-right: var(--spacing);
  }
  .alignright,
  .c-figure--right {
    float: right;
    margin-right: -20%;
    margin-left: 1rem;
    margin-left: var(--spacing);
  }
}

[class*="wp-image-"] {
  max-width: 100%;
  height: auto !important;
}

.size-full {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption-text,
.c-figure__caption {
  margin-top: 1rem;
  margin-bottom: 0;
  padding-left: 1rem;
  padding-left: var(--spacing);
  padding-right: 1rem;
  padding-right: var(--spacing);
  padding-bottom: 1rem;
  font-size: 1rem;
  line-height: 1.2em;
}

.c-figure > img {
  max-width: 100%;
  display: block;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-page-background: #222;
    --color-text: #fff;
    --color-accent: #444;
    --color-link: #f8bfb5;
    --color-link-visited: #c7b5f8;
    --color-subbrand: #936e0b;
    --color-shadow: rgba(255 255 255/20%);
  }
}
